*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/.toolchain_build_ver
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
!/files/
!/files/etc/
!/files/etc/hotplug.d/
!/files/etc/hotplug.d/block/
!/files/etc/hotplug.d/block/95-e8450-usb-sysupgrade
!/files/etc/config/
!/files/etc/config/*
/files/etc/config/wireless
/files/etc/shadow
!/files/etc/modules.conf
!/files/etc/sysctl.conf
!/files/etc/nftables.d/
!/files/etc/nftables.d/*
!/files/etc/owut.d/
!/files/etc/owut.d/*
!/files/etc/profile.d/
!/files/etc/profile.d/*
/target/linux/feeds
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
/llvm-bpf*
key-build*
private-key.pem
public-key.pem
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*
