config shaper 'wan'
	option enabled '1'
	option interface 'wan'
	option rate_kbps '8300'

config aqm 'queue7'
	option enabled '1'
	option queue '7'
	option poll_ms '100'
	option byte_thresh '0'
	option batch '4'
	option grace_ms '1000'

# Production HQoS profile: bulk traffic uses capped q7; priority traffic is
# marked q8 by files/etc/nftables.d/30-queue-mark.nft.
config hqos 'production'
	option enabled '1'
	option toggle '1'
	option scheduler '0'
	option scheduler_mode 'wrr'
	option scheduler_rate_kbps '9500'
	option bulk_queue '7'
	option bulk_weight '4'
	option bulk_rate_kbps '8300'
	option priority_queue '8'
	option priority_weight '12'
